@use 'element-plus/dist/index.css';
@use 'beeboat-plus/beeboat-theme/css/index.css'as beeboat;

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app-parser {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
